@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --barground: #d1d5db;
  --svg-fill-color: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4b5563;
    --foreground: #ededed;
    --barground: #1f2937;
    --svg-fill-color: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.svg-color {
  fill: var(--svg-fill-color); 
  stroke: var(--svg-stroke-color); 
}
