

.sidehidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.75s ease-out;
}

.sidevisible {
    max-height: 200px; /* Adjust this value based on your content */
    overflow: hidden;
    transition: max-height 1s ease-in;
}